<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: "Arial", sans-serif;
        text-align: center;
        margin: 50px;
      }
      h1 {
        color: #333;
      }
      p {
        color: #555;
      }
      img {
        max-width: 100%;
        height: 400px;
        margin-top: 20px;
      }
    </style>
    <title>404 Not Found</title>
  </head>
  <body>
    <h1>404 Not Found</h1>
    <p>Sorry, the page you are looking doesnt exits</p>
    <img
      src="https://img.freepik.com/free-vector/oops-404-error-with-broken-robot-concept-illustration_114360-5529.jpg?w=740&t=st=1703927695~exp=1703928295~hmac=e38bf013041b021359762915aa6a2e6540e6a8539267fba848ce3de51b261af2"
      alt="404 Icon"
    />
  </body>
</html>
